---
import Layout from "../layouts/Layout.astro";
import About from "../contents/About.astro";
import members from "../contents/team";
import Contact from "../contents/Contact.astro";
import ContactForm from "../contents/ContactForm";
import TitledSection from "../components/TitledSection.astro";
import Avatar from "../components/Avatar.astro";
---

<Layout title="Rzecznik Praw Studenta AGH">
	<main class="mx-auto bg-white p-4 sm:px-6 sm:py-5 rounded-lg sm:shadow mt-2 sm:mt-3 container overflow-hidden">
		<div>
			<About />
		</div>
		<div class="mt-5">
			<TitledSection title="Zespół Rzecznika Praw Studenta AGH">
				<div class="flex gap-4 flex-col md:flex-row mt-4">
					{members.map((member, index) => (
						<div class="flex-1 bg-gray-100 shadow-inner p-5 rounded-lg">
							<Avatar member={member}  />
						</div>
					))}
				</div>
			</TitledSection>
		</div>
		<div class="mt-8">
			<TitledSection title="Skontaktuj się z Rzecznikiem">
				<ContactForm client:idle />
			</TitledSection>
		</div>
		<div class="mt-5">
			<Contact />
		</div>
	</main>
</Layout>
