---
import Layout from "../layouts/Layout.astro";
import About from "../contents/About.astro";
import Team from "../contents/Team.astro";
import Contact from "../contents/Contact.astro";
---

<Layout title="Rzecznik Praw Studenta AGH">
	<main class="mx-auto bg-white p-4 sm:px-6 sm:py-5 rounded-lg sm:shadow mt-2 sm:mt-3 container overflow-hidden">
		<div>
			<About />
		</div>
		<div class="mt-5">
			<Team />
		</div>
		<div class="mt-5">
			<Contact />
		</div>
	</main>
</Layout>

<style></style>
