---
import Layout from "../layouts/Layout.astro";
import About from "../contents/About.astro";
import Contact from "../contents/Contact.astro";
import ContactForm from "../contents/ContactForm";
import TitledSection from "../components/TitledSection.astro";
import Gallery from "../components/Gallery.astro";
import TeamPodium from "../contents/TeamPodium.astro";
---

<Layout
	title="Rzecznik Praw Studenta AGH"
	description="Napotkałeś problemy na studiach? Dowiedz się jak uzyskać pomoc. Rzecznik Praw Studenta AGH pomaga studentom, odpowiada na pytania, wyjaśnia wszelkie wątpliwości."
>
	<Gallery />
	<main class="mx-auto bg-white p-4 sm:px-6 sm:py-5 rounded-lg sm:shadow mt-0 sm:mt-3 container overflow-hidden border-brand-300">
		<div class="md:mt-3">
			<About />
		</div>
		<div class="mt-5">
			<TitledSection title="Zespół Rzecznika Praw Studenta AGH">
				<TeamPodium />
			</TitledSection>
		</div>
		<div class="mt-8">
			<TitledSection title="Skontaktuj się z Rzecznikiem">
				<ContactForm client:idle />
			</TitledSection>
		</div>
		<div class="mt-5">
			<Contact />
		</div>
	</main>
</Layout>
