---
import TitledSection from "../components/TitledSection.astro";
import Layout from "../layouts/Layout.astro";
import members from "../contents/team";
import Mark from "../components/Mark.astro";
import PersonBox from "../components/PersonBox.astro";
import ogImage from "../assets/ogs/prawa-i-rownosc.png";

---

<Layout
	title="O nas - Rzecznik Praw Studenta"
	ogImage={ogImage}
	description="AGH dba o równość oraz przestrzeganie praw na Uczelni. Dla dobra studentów oraz pracowników powołano zespół Rzecznika Praw Studenta oraz Rzecznika Równości wraz z Pełnomocniczką ds. Równości."
>
	<main
		class="mx-auto bg-white p-4 sm:px-6 sm:py-5 rounded-lg sm:shadow mt-2 sm:mt-3 container overflow-hidden"
	>
		<p>
			Rzecznik Praw Studenta oraz Rzecznik Równości to pracownicy uczelni
			dbający o <Mark>dobro studentów oraz pracowników</Mark>. Interweniują za
			zgodą osoby zgłaszającej problem.
		</p>
		<TitledSection containerClass="mt-3" title="Prawa na AGH" id="prawa">
			<div class="grid grid-cols-1 md:grid-cols-2 gap-2 mt-4">
				{
					members.map((member) => {
						return <PersonBox member={member} />;
					})
				}
			</div>
			<p class="mt-7">
				Od 2016 do 2021 roku funkcję RPS AGH pełniła <Mark>
					prof. dr hab. inż. Manuela Reben
				</Mark>.
			</p>
			<p class="mt-2">Asystentami RPS AGH byli studenci:</p><ul
				class="list-inside list-disc"
			>
				<li>Marzena Stupkiewicz</li>
				<li>Mikołaj Gralczyk</li>
				<li>Iwona Mika</li>
				<li>Konrad Marszałek</li>
				<li>Dorota Pachuta</li>
				<li>Kamil Wróbel</li>
				<li>Joanna Brezdeń</li>
				<li>Maciej Augustyński</li>
				<li>Wiktoria Placek</li>
			</ul>
		</TitledSection>
		<TitledSection title="Równość na AGH" containerClass="mt-4" id="rownosc">
			Na AGH działa Rzecznik Równości — Artur Lesner ukończył aplikację
			radcowską, jest pracownikiem Biura Rektora. Więcej na:
			<a
				href="https://rownosc.agh.edu.pl/"
				target="_blank"
				class="hover:underline text-brand-500 hover:text-brand-700"
				rel="noopener"
			>
				https://rownosc.agh.edu.pl
			</a>
		</TitledSection>
	</main>
</Layout>
