---
import TitledSection from "../components/TitledSection.astro";
import Layout from "../layouts/Layout.astro";
import members from "../contents/team";
import Mark from "../components/Mark.astro";
import PersonBox from "../components/PersonBox.astro";
---

<Layout title="Prawa i Równość w AGH - Rzecznik Praw Studenta">
	<main
		class="mx-auto bg-white p-4 sm:px-6 sm:py-5 rounded-lg sm:shadow mt-2 sm:mt-3 container overflow-hidden"
	>
		<TitledSection title="Prawa i Równość w AGH">
			<p>Jakiś tekst o równości i oczywiście o prawach też tutaj</p>
		</TitledSection>
		<TitledSection containerClass="mt-3" title="Rzecznik Praw Studenta">
			<div class="flex justify-center">
				<div class="w-3/4">
					<PersonBox member={members[0]} />
				</div>
			</div>
			<div class="flex flex-col xl:flex-row w-full gap-4 mt-4">
				{
					members.slice(1).map((member) => {
						return (
							<PersonBox member={member} />
						);
					})
				}
			</div>
			<p class="mt-7">
				Od 2016 do 2021 roku funkcję RPS AGH pełniła <Mark>prof. dr hab. inż. Manuela Reben.</Mark>
			</p>
			<p class="mt-2">Asystentami RPS AGH byli studenci:</p><ul
				class="list-inside list-disc"
			>
				<li>Marzena Stupkiewicz</li>
				<li>Mikołaj Gralczyk</li>
				<li>Iwona Mika</li>
				<li>Konrad Marszałek</li>
				<li>Dorota Pachuta</li>
				<li>Kamil Wróbel</li>
				<li>Joanna Brezdeń</li>
				<li>Maciej Augustyński</li>
			</ul>
		</TitledSection>
	</main>
</Layout>
