---
export interface Props {
  src: string;
  name: string;
  role: string;
  isRightToLeft?: boolean;
}

const { src, name, role, isRightToLeft = false } = Astro.props;
const initials = name
  .split(" ")
  .map((n) => n[0])
  .join("");

---

<div class="flex items-center gap-4 md:gap-2 flex-row md:flex-col md:justify-center">
  <img class="w-13 h-13 lg:w-24 lg:h-24 rounded-full" src={src} alt={name} />
  <div class="flex flex-col md:items-center md:text-center">
    <div class="text-lg font-medium">{name}</div>
    <div class="text-sm text-slate-500">{role}</div>
  </div>
</div>
