---
import img1 from "../assets/rps1.jpg";
import img2 from "../assets/rps2.jpg";
import img3 from "../assets/rps3.jpg";
---

<div class="container mx-auto">
  <div class="flex w-full justify-center mt-4">
    <div
      class="p-1 shadow-lg bg-white overflow-hidden rounded-lg first-image flex-1"
    >
      <img
        src={img3}
        alt="Zdjęcie przedstawiające Gosię, Panią Agnieszkę i Wiktorię na Festiwalu Innowacji Studenckich AGH"
        class="rounded-lg h-full w-full object-cover"
      />
    </div>
    <div
      class="p-1 shadow-xl bg-white overflow-hidden rounded-lg second-image flex-1"
    >
      <img
        src={img1}
        alt="Zdjęcie przedstawiające wszystkich członków RPS-a na ściance Samorządu"
        class="rounded-lg h-full w-full object-cover"
      />
    </div>
    <div
      class="p-1 shadow-lg bg-white overflow-hidden rounded-lg last-image flex-1"
    >
      <img
        src={img2}
        alt="Zdjęcie przedstawiające Pełnomocniczkę ds. Równości, Rzecznika Praw Studenta, Rzecznika ds. Równości AGH, Wiktorię i Gosię przed budynkiem B1 AGH"
        class="rounded-lg h-full w-full object-cover"
      />
    </div>
  </div>
</div>

<style lang="scss">
  .first-image {
    transform: rotateZ(-6deg) translateX(15px) translateY(15px);
    z-index: 1;
  }
  .second-image {
    transform: rotateZ(1deg) translateX(0px) translateY(10px);
    z-index: 2;
  }
  .last-image {
    transform: rotateZ(4deg) translateX(-15px) translateY(15px);
    z-index: 1;
  }
</style>
