---
const currentPath = Astro.url.pathname;

const links: {path: string, title: string}[] = [
  {path: '/', title: 'Strona główna'},
  {path: '/prawa-i-rownosc/', title: 'Prawa i Równość w AGH'},
  {path: '/baza-wiedzy/', title: 'Baza wiedzy'},
];

---

<nav class="container mx-auto bg-white px-5 py-4 rounded-b-lg w-full h-full flex flex-col sm:flex-row justify-center align-center">
  {
    links.map((link) => (
      <div class="mx-1 p-2">
        <a href={link.path} class={`${currentPath === link.path ? 'underline' : 'hover:underline'}`}>{link.title}</a>
      </div>
    ))
  }
</nav>

