---

---

<a href="https://anchor.fm/rzecznik-praw-stude/" target="_blank">
  <div
    class="flex gap-4 p-4 flex-col sm:flex-row bg-brand-500 rounded-lg overflow-hidden shadow text-white sm:items-center"
  >
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-10 h-10"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 18.75a6 6 0 006-6v-1.5m-6 7.5a6 6 0 01-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 01-3-3V4.5a3 3 0 116 0v8.25a3 3 0 01-3 3z"
        ></path>
      </svg>
    </div>
    <div class="flex-1">
      <div class="text-lg font-bold">Podcasty RPS AGH</div>
      <div class="text-sm">
        Zdobądź istotne informacje o umowie o pracę, zleceniu, B2B i umowie o
        dzieło i świadomie podejmuj decyzje na rynku pracy!
      </div>
    </div>
  </div>
</a>
