---
import Mark from "../components/Mark.astro";
import TitledSection from "../components/TitledSection.astro";
---

<TitledSection title="Znajdź nas na uczelni">
  <p>
    Opisz nam swój problem w mailu i wyślij go na adres <Mark><a href="mailto:rps@agh.edu.pl">rps@agh.edu.pl</a></Mark>.
    Pamiętaj, aby podać w nim swój numer legitymacji.
  </p>
  <p class="mt-2">
    Możesz także skorzystać z naszej skrzynki kontaktowej znajdującej się w budynku C-1
    albo napisać do nas na naszym <a href="https://www.facebook.com/rps.agh" target="_blank" class="text-brand-800">Facebooku</a>.
  </p>
</TitledSection>  
