---
import Mark from "../components/Mark.astro";
import TitledSection from "../components/TitledSection.astro";
---

<TitledSection title="Znajdź nas na uczelni">
  <p>
    Opisz nam swój problem w mailu i wyślij go na adres <a href="mailto:rps@agh.edu.pl" class="text-brand-600">rps@agh.edu.pl</a>.
    Pamiętaj, aby podać w nim swój numer legitymacji.
    <br />
    Osobiście można znaleźć Panią Rzecznik w <Mark>pok. 127 w bud. C1/C2</Mark>, a z Asystentami spotkać się po umówieniu.
  </p>
  <p class="mt-2">
    Z Panią Rzecznik można kontaktować się telefonicznie,
    nr <a href="tel:+48885956765" class="text-brand-600">+48 885 956 765</a> – w
    sprawach pilnych także poza godzinami pracy.
    <br />
    Możesz też skorzystać z naszej skrzynki kontaktowej znajdującej się w budynku C-1
    albo napisać do nas na naszym <a href="https://www.facebook.com/rps.agh" target="_blank" class="text-brand-600">Facebooku</a>.
  </p>
  <p>
    W razie jakichkolwiek wątpliwości zapraszamy do kontaktu!
  </p>
</TitledSection>  
