---
import '@fontsource/sen';
import '@fontsource/work-sans';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import Navbar from '../components/Navbar.astro';
import mainOgImage from '../assets/ogs/main.png';

export interface Props {
	title: string;
	ogImage?: string;
	description?: string;
}

const {
	title = "Rzecznik Praw Studenta AGH",
	ogImage = mainOgImage,
	description
} = Astro.props;
---

<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name='og:site_name' content='Rzecznik Praw Studenta AGH' />
		{description && <meta name='description' content={description} />}
		{ogImage && <meta name='og:image' content={ogImage} />}
		<title>{title}</title>
		<script defer data-domain="rps.agh.edu.pl" src="https://analytics.kopanko.com/js/script.js"></script>
	</head>
	<body class="bg-stone-50 font-work-sans sm:px-2 lg:px-4">
		<div class="shadow min-w-screen rounded-b-lg bg-stone-50 sm:rounded-lg overflow-hidden container mx-auto sm:mt-4">
			<Header />
			<Navbar />
		</div>
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
